# >>> frontend <<<

# Dependencies
node_modules/

# Testing
/coverage
/packages/*/coverage/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# >>> backend <<<

# Rust
target/
Cargo.lock  # Only if this is a binary; track it for libraries